*/.godot/*
/.godot/
/android/
License.txt
Credits.txt
*.env
*.zip
*.url
*.DS_Store
*.aseprite
*.gif
*.ini
/godot/
*.local
*.exe
/BodyLess/godot
.cfg
*.txt
/BodyLess/Build
Essentials/addons/Cafe-AudioManager/scripts/audio_manager_plugin.gd
