/.godot/
/android/
License.txt
Credits.txt
*.env
*.zip
*.url
*.DS_Store
*.aseprite
*.gif
*.ini
/Addons/gut/*
/Platformer
/Platformer/*

/Platformer/Assets/Sounds/kenney_digital-audio/Audio
/Platformer/Assets/Sounds/kenney_digital-audio
/Platformer/Assets/Sounds
/Platformer/Assets
*.ogg
*.import
/Platformer
